{% extends "cart/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load common_tags %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}cart/js/jquery.cart.js"></script><!-- cart-->
    {#    <script type="text/javascript" src="{{ STATIC_URL }}cart/js/delete-script.js"></script><!-- cart-->#}
    <script type="text/javascript">
        (function ($) {
            $(document).ready(function () {
                $("#table-cart").on('click', '.pro-list-count .minus', function () {
                    var counter = $(this).parent('.pro-list-count').find('.count-product');
                    var ProCount = counter.val() - 0;
                    if (ProCount - 1 > 0) counter.val(ProCount - 1);

                    var item_id = counter.attr('rel');
                    var c_t_id = counter.attr('c_t_id');
                    var o_id = counter.attr('o_id');
                    var i_id = counter.attr('i_id');
                    cart.update($(this), i_id, counter.val());
                });
                $("#table-cart").on('click', '.pro-list-count .plus', function () {
                    var counter = $(this).parent('.pro-list-count').find('.count-product');
                    var ProCount = counter.val() - 0;
                    counter.val(ProCount + 1);
                    var item_id = counter.attr('rel');
                    var c_t_id = counter.attr('c_t_id');
                    var o_id = counter.attr('o_id');
                    var i_id = counter.attr('i_id');
                    cart.update($(this), i_id, counter.val());

                });
            });
        }(jQuery));
    </script>
{% endblock %}

{% block title %}Корзина и оформление заказа / Интернет магазин / {{ block.super }}{% endblock title %}
{% block breadcrumb %}
    {{ block.super }} » <a href="{% url 'cart:show_cart' %}">Корзина и оформление заказа</a>
{% endblock %}
{% block content_right %}
    <h1>Корзина и оформление заказа</h1>
    <div id='table-cart'>
        <table cellpadding="5" cellspasing="0" border="0" width="100%" class="table-zebra">
            <tr>
                <th class="tb-name">Наименование, артикул</th>
                <th class="tb-count">Кол-во</th>
                <th class="tb-summ">Цена</th>
                <th class="tb-delete">x</th>
            </tr>
            {% for form in formset.forms %}
                <tr>
                    <td>
                        <div class="pro-list-title"><a
                                href="{{ form.instance.content_object.get_absolute_url }}">{{ form.instance.content_object.name }}</a>
                        </div>
                        <div class="pro-list-code">{% if form.instance.content_object.SKU %}арт:
                            {{ form.instance.content_object.SKU }}{% endif %}</div>
                    </td>
                    <td align="center">
                        <div class="pro-list-count" rel='{{ form.instance.pk }}'>
                            <input type="button" class="minus" value=" "/>
                            <input type="text" name="count" class="count-product" value="{{ form.instance.quantity }}"
                                   rel='{{ form.instance.pk }}' c_t_id='{{ form.instance.content_type }}'
                                   o_id='{{ form.instance.object_id }}' i_id='{{ form.instance.id }}'/>
                            <input type="button" class="plus" value=" "/>
                        </div>
                    </td>
                    <td>
                        <div class="pro-list-price">{{ form.instance.total|strip_zeros|intspace:"&thinsp;" }}</div>
                    </td>
                    <td>
                        <div class="pro-list-delete"><a href="#"
                                                        onclick="return cart.del(this, {{ form.instance.id }});">x</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}

        </table>
        <div class="pro-all-itog">
            <div class="pro-all-itog-text">Итого:</div>
            <div class="pro-all-itog-count">Количество: <b>{{ order.goods }} шт.</b></div>
            <div class="pro-all-itog-summ">Сумма: <b>{{ order.total|strip_zeros|intspace:"&thinsp;" }} руб.</b></div>
            <div class="clearing"></div>
        </div>
    </div>
    <div class="url-back"><a href="">< Назад в каталог</a></div>
    <br/>
    <h3>ДЛЯ ОФОРМЛЕНИЯ ЗАКАЗА ЗАПОЛНИТЕ СЛЕДУЮЩУЮ ФОРМУ:</h3>
    <div id="form-order">
        <form action="{% url 'cart:show_cart' %}" id="basket_order_submit_form" method="post">
            {#        {{ order_form.as_p }}#}
            {% for hidden in order_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% csrf_token %}
            <div class="form-text-row">

                <div class="field-label">{{ order_form.name.label }}</div>
                <div class="field-znach">{{ order_form.name }}</div>
            </div>
            <div class="form-text-row">
                <div class="field-label">{{ order_form.phone.label }}</div>
                <div class="field-znach">{{ order_form.phone }}</div>
            </div>
            <div class="form-text-row">
                {{ order_form.email.errors }}
                <div class="field-label">{{ order_form.email.label }}</div>
                <div class="field-znach">{{ order_form.email }}</div>

            </div>
            <div class="form-comment-row">
                {{ order_form.comment.errors }}
                <div class="field-label">{{ order_form.comment.label }}:</div>
                <div class="field-znach">
                    {{ order_form.comment }}
                    <span style="font-size: 9pt;">Укажите Ваш город и адрес</span>
                </div>

            </div>
            <div class="form-content">* - Поля, отмеченные звездочкой, обязательны для заполнения</div>
            <div class="form-order-button"><input class="order-button" type="submit" value=" Оформить заказ "/></div>
        </form>
    </div>

{% endblock %}
