{% extends 'feedback/base.html' %}

{% load feedback_tags %}
{% load pagination_tags %}

{% block content_right %}
<h1>Форма обратной связи</h1>
    <div id="form-feedback">
            <form action="{% url 'feedback:leave_feedback' %}">
            {% for hidden in feedback_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% csrf_token %}
            <div class="form-text-row">
                {{ feedback_form.name.errors }}
                <div class="field-label">{{ feedback_form.name.label }}</div>
                <div class="field-znach">{{ feedback_form.name }}</div>
            </div>
            <div class="form-text-row">
                {{ feedback_form.email.errors }}
                <div class="field-label">{{ feedback_form.email.label }}</div>
                <div class="field-znach">{{ feedback_form.email }}</div>
            </div>
            <div class="form-comment-row">
                {{ feedback_form.message.errors }}
                <div class="field-label">{{ feedback_form.message.label }}:</div>
                <div class="field-znach">
                    {{ feedback_form.message }}
                    <span style="font-size: 9pt;">Укажите Ваш город и адрес</span>
                </div>
            </div>
            <div class="form-content">* - Поля, отмеченные звездочкой, обязательны для заполнения</div>
            <div class="form-order-button"><input class="order-button" type="submit" value=" Оформить заказ "/></div>
            </form>
            </div>
{% endblock %}

{#{% block content %}#}
{#    <div class="row">#}
{#        <div class="span9">#}
{#            <h4>Отзывы</h4>#}
{#            {% get_feedback %}#}
{#            {% if feedback %}#}
{#                {% autopaginate feedback 10 %}#}
{#                {% for feedback in feedback %}#}
{#                    <div class="row">#}
{#                        <div class="span9 feedback">#}
{#                            <p>{{ feedback.message }}</p>#}
{##}
{#                            <p class="pagination-right">{{ feedback.time|date:'d.m.Y' }}</p>#}
{##}
{#                            <p class="pagination-right"> {{ feedback.name }}</p>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="divider-list"></div>#}
{#                {% endfor %}#}
{#                {% paginate %}#}
{##}
{##}
{#            {% else %}#}
{#                <p>По вашему запросу ни чего не найдено.</p>#}
{#            {% endif %}#}
{#            <h3>Оставить отзыв</h3>#}
{##}
{#            <div class="row">#}
{#                <form action="{% url 'leave_feedback' %}" method="get">#}
{#                    {% csrf_token %}#}
{#                    <div class="span4">{{ feedback_form.name }}{{ feedback_form.name.errors }}</div>#}
{#                    <div class="span1"></div>#}
{#                    <div class="span4">{{ feedback_form.email }}{{ feedback_form.email.errors }}</div>#}
{#                    <div class="span9">{{ feedback_form.message }}{{ feedback_form.message.errors }}</div>#}
{#                    <div class="span9"><input class="btn pagination pagination-right" type="submit" value="Отправить">#}
{#                    </div>#}
{##}
{#                </form>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}